:root {
  font-family: Helvetica;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  background-color: #ebebeb;
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  
}

.root{
  display: flex;
  justify-content: space-between;
  border:2px solid black;
  width:96vw;
  height: 92vh;
}

header{
  display:flex;
  flex-direction: column;
  align-items:last baseline;
  padding:16px;
}

a {
  text-decoration: none;
  color:#1a1a1a;
  font-size: 1.2em;
}

#links{
  display:flex;
  gap:4px;
  align-items: center;
  
}

a:hover{
  text-decoration: underline;
}

body {
  display: flex;
}
#separator{
  width:34em;
  height:1px;
  background-color: #1a1a1a;
}
main{
  position: absolute;
  display: flex;
  top:56%;
  left:43%;
  flex-direction: column;
  align-items: flex-start;
  

}

h1 {
  font-size: 10em;
  font-weight:bolder;
  line-height: 1.1;
  margin:0;
}

span{
  display: block;
}

p {

  font-size:1.5em;
  font-weight: bold;
  width:34em;
  text-align: left;
  padding-right: 32px;
  color:#323232;
  font-family:Arial, Helvetica, sans-serif;
  
  
}

#enterURL{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;

}
.desc-para{
  display: flex;
  flex-direction: column;
  gap:16px;
}
#desc{
  /* display:flex;
  flex-direction: row;
  justify-content: space-between;
  border:1px solid black;
  width:100vw */

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}




